{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
New
{% endblock title %}

{% block content %}
<!--   <h1>{{ new.title|censor }}</h1>-->
    <h1>{{ new.title }}</h1>

   <hr>
 {% if new %}
       <table>
           <tr>
               <td>Дата публикации</td>
               <td>Категория</td>
               <td>Текст статьи</td>
           </tr>

           <tr>
               <td>{{ new.post_time|date:'M d Y' }}</td>
               <td>
                      {% for post_category in post.post_category.all %}
                        <a href="{% url 'category_list' post_category.id %}">{{ post_category }}</a>
                  {% endfor %}
               </td>

               <td>{{ new.content }}</td>
           </tr>
       </table>
{% else %}
       <h2>Такой статьи нет!</h2>
{% endif %}
{% endblock content %}